a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* STRIPPING -----------------------------------------------------------------*/
button, input, textarea {
  border: none;
  font-family: inherit
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 125%;
  line-height: 1.6;

  background-color: #062836;
  /* background from svgbackgrounds.com */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='163' height='163' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23062634' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
  color: #b2d132;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

/* BUTTON STYLES -------------------------------------------------------------*/
.brownButton {
  /* appearance */
  background-color: #6c4b33;
  background: linear-gradient(#6c4b33 0%, #61432D 100%);
  box-shadow: inset 0px 2px 0px #7A5D47, 0px 10px 0px #4B3423;
  color: #b2d132;
}

.brownButton:hover {
  box-shadow: inset 0px 3px 0px #7A5D47, 0px 2px 0px #4B3423;
}

.greenButton {
  /* appearance */
  background-color: #b2d132;
  background: linear-gradient(#b2d132 0%, #A0BC2D 100%);
  box-shadow: inset 0px 2px 0px #C1DA5B, 0px 10px 0px #7C9223 ;
  color: #062836;
}

.greenButton:hover {
  box-shadow: inset 0px 3px 0px #C1DA5B, 0px 2px 0px #7C9223 ;
}

.raisedButton {
  /* box properties */
  padding: 10px;
  border-radius: 20px;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* positioning */
  position: relative;
  top: 0px;

  /* animation */
  transition: top 300ms linear, box-shadow 300ms linear;
}

.raisedButton:hover {
  top: 5px;
  transition: top 400ms linear, box-shadow 400ms linear;
}


/* add focus outline to buttons for accessible keyboard navigation */
button:focus {
  outline: 2px dotted;
  outline-offset: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* give content more space on smaller screens */
@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}

/* HEADER & HEADING STYLES --------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1;
}

/* header text */
h1 {
  font-family: 'Montserrat', sans-serif;
  /* clamp technique inspired by https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  font-size: clamp(4rem, 1.4286rem + 14.2857vw, 10rem);
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

header p {
  /* box properties */
  width: 80%;
  margin-bottom: 100px;

  /* text */
  text-align: center;
  font-size: clamp(1rem, 0.8182rem + 1.1364vw, 1.5rem);
}


/* brown underline */
h1::before {
  position: absolute;
  content: '';
  height: 10%;
  width: calc(100% + 20px);
  bottom: 20%;
  left: -10px;
  background-color: #6c4b33;
  z-index: -1;
}

/* flower svg (dot on the 'i') */
h1::after {
  background: url(./img/flower.svg);  /* icon from flaticon.com */
  width: clamp(1rem, 0.1429rem + 4.7619vw, 3rem);
  height: clamp(1rem, 0.1429rem + 4.7619vw, 3rem);
  position: absolute;
  content: '';
  left: 55.2%;
  top: 19%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  /* clamp technique inspired by https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  font-size: clamp(1.8rem, 1.0000rem + 5.0000vw, 4rem);
  position: relative;
  margin-top: 20px;
  width: max-content;
}

/* brown underline */
h2::before {
  position: absolute;
  content: '';
  height: 15%;
  width: 100%;
  bottom: 20%;
  background-color: #6c4b33;
  z-index: -1;
}

.addPlantButton {
  /* text */
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1rem, 0.8182rem + 1.1364vw, 1.5rem);

  /* positioning */
  margin: 0 auto;
}

/* adjust heading spacing on smaller screens */
@media (max-width: 800px) {
  h1 {
    margin: 20px auto 50px auto;
  }

  h2 {
    margin: 20px auto 25px auto;
  }

  header p {
    margin-bottom: 50px;
  }
}


/* MAIN SECTION STYLES -------------------------------------------------------*/
main {
  flex: 1 0 200px;
  min-height: 100px;
}

.tilesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 50px;
  margin: 100px 0;
}

/* adjust tile container grid layout on smaller screens */
@media (max-width: 800px) {
  .tilesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .tilesContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
  }
}

.tile {
  /* text properties */
  font-weight: bold;
  font-size: clamp(1rem, 0.8182rem + 1.1364vw, 1.5rem);
}

.tile p {
  width: 100%;
}

/* FORM STYLES ---------------------------------------------------------------*/
/* form appearance */
input,
textarea,
form button {
  padding: 10px;
  border-radius: 20px;
}

input,
textarea {
  background-color: rgba(6, 40, 54, 0.3);
  color: #b2d132;
  border: 3px solid;
  font-family: courier;
  font-weight: bold;
}

input:focus,
textarea:focus {
  background-color: #b2d132;
  color: #062836;
}

form button {
  width: 30%;
  justify-self: center;
}

/* grid positioning */
form {
  display: grid;
  grid-template-columns: 1fr 20px 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
  width: 100%;
}

label[for="inputName"] {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

input[name="inputName"] {
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
}

label[for="inputNotes"] {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

textarea[name="inputNotes"] {
  grid-column: 3 / span 3;
  grid-row: 2 / span 4;
}

form button {
  grid-column: 3 / span 3;
  grid-row: 6;
}

/* change form to column layout on small screens */
@media (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input, textarea {
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
  }

  textarea {
    height: 40%;
  }

  form button {
    margin: 0 auto;
  }
}

/* PLANT PAGE ----------------------------------------------------------------*/
.plantPage {
  /* box properties */
  width: 100%;
  height: 100%;
  padding: 10px;

  /* flex properties */
  display: flex;
  flex-direction: column;
}


.plantPage h3 {
  font-size: clamp(1.5rem, 0.9545rem + 3.4091vw, 3rem);
  width: max-content;
  position: relative;
  z-index: 1;
}

/* blue underline */
.plantPage h3::before {
  position: absolute;
  content: '';
  height: 15%;
  width: 100%;
  bottom: 15%;
  background-color: #062836;
  z-index: -1;
}

.plantPage p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  white-space: pre-line;
  height: 100%;
}

.plantPage .buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plantPage button {
  /* text */
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1rem, 0.8182rem + 1.1364vw, 1.5rem);

  /* box properties */
  width: max-content;
  padding: 20px;
  margin: 20px;
}

/* FOOTER STYLES -------------------------------------------------------------*/
footer {
  padding: 20px 0;
  width: 100%;
  grid-row: 3;
}

/* 'made by' text */
footer p {
  color: #b2d132;

  font-size: clamp(1rem, 0.6364rem + 2.2727vw, 2rem);
  text-align: center;

  margin-top: 50px;
}

footer span {
  white-space: nowrap;
}

footer a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

footer a:hover {
  color: #6c4b33;
}

/* force spanned groups of words to line-break together */
footer span {
  white-space: nowrap;
}

/* MODAL STYLES --------------------------------------------------------------*/
.modal {
  /* appearance */
  background-color: #6c4b33;
  /* background from svgbackgrounds.com */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='163' height='163' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23714e35' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");

  /* box properties */
  width: 80%;
  height: 80%;
  padding: 50px;
  border-radius: 20px;
  outline: none;

  /* positioning */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* flex properties */
  display: flex;
  justify-content: center;
  align-content: center;
}

.closeButton {
  background-color: unset;
  color: #b2d132;
  font-size: 1.5rem;
  position: fixed;
  right: 20px;
  top: 20px;
} 

/* move plantPage and form away from closeButton on small screens */
@media (max-width: 600px) {
  .plantPage,
  form {  
    margin-top: 25px;
    padding-bottom: 25px;
  }
}


@media (max-width: 600px) {
  .modal {
    width: 100%;
    height: 90%;
    padding: 10px;
  }
}

.overlay {
  /* appearance */
  background-color: rgba(6, 40, 55, 0.9);

  /* box properties */
  width: 100%;
  height: 100%;

  /* positioning */
  position: fixed;
  top: 0;
}

/* stop background from scrolling when modal is active */
.ReactModal__Body--open {
  overflow: hidden;
}